node_modules/
dist/
build/
.git/
*.min.js
*.min.css
coverage/
.husky/
playwright-report/
test-results/
features/step-definitions/
*.html
.claude/settings.local.json
tmp/
.hive-mind/
.npm/
.nx/
.roo/
.swarm/
.vscode/
coordination/
coverage/
megalinter-reports/
memory/
